---
import Layout from "../../layouts/Layout.astro";
import Scroll1Component from "../../components/playground/scroll-1/scroll-1.svelte";
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../../lib/constants";

  timeline([loaderAnimation] as TimelineDefinition);
</script>

<Layout
  title="Gianmarco Cavallo - Playground - Gsap future scroll"
  description="Scroll animation made with GSAP and some custom futuristic svg"
  fullScreen="h-auto"
>
  <div class="flex flex-col px-4 pb-4 overscroll-none">
    <header class="sticky top-0 inset-x-0 z-60 p-4">
      <a
        href="/playground"
        class="text-white bg-neutral-900 hover:bg-neutral-800 w-fit px-4 py-2 border-1 border-solid border-neutral-600 rounded-lg"
        >Back</a
      >
    </header>

    <div>
      <Scroll1Component client:load />
    </div>
  </div>
</Layout>
