---
import Layout from "../../layouts/Layout.astro";
import LoaderAnimation from "../../components/LoaderAnimation.astro";
import Rifle1Component from "../../components/playground/rifle-1";
import rifleRivUrl from "../../riveAnimations/rifle.riv?url";
import { SITE } from "../../site-config";
---

<link rel="preload" href={rifleRivUrl} as="fetch" crossorigin="anonymous" />

<LoaderAnimation />

<Layout
  title={`${SITE.author.fullName} - Playground - Rifle animation`}
  description="A rifle animation made with rive.app"
>
  <div class="flex flex-col items-start h-screen w-screen p-4">
    <a
      href="/playground"
      class="text-white bg-neutral-900 hover:bg-neutral-800 w-fit px-4 py-2 border-1 border-solid border-neutral-600 rounded-lg"
      >Back</a
    >
    <div class="w-full h-full flex justify-center items-center overflow-hidden">
      <Rifle1Component client:load rivUrl={rifleRivUrl} />
    </div>
  </div>
</Layout>
