---
import Layout from "../../layouts/Layout.astro";
import WireframeGlobePlayground from "../../components/playground/wireframeGlobePlayground";
import { SITE } from "../../site-config";
---

<script>
  import { animate, type AnimationSequence } from "motion";
  import { loaderAnimation } from "../../lib/constants";

  animate([loaderAnimation] as AnimationSequence);
</script>

<Layout
  title={`${SITE.author.fullName} - Playground - Wireframe globe`}
  description="Canvas wireframe globe with latitude and longitude lines."
  fullScreen="h-auto"
>
  <div
    class="flex flex-col px-4 pb-4 overscroll-none w-full min-h-screen overflow-auto"
  >
    <header class="sticky top-0 inset-x-0 z-60 p-4">
      <a
        href="/playground"
        class="text-white bg-neutral-900 hover:bg-neutral-800 w-fit px-4 py-2 border-1 border-solid border-neutral-600 rounded-lg"
        >Back</a
      >
    </header>

    <div class="flex flex-1 w-full items-center justify-center p-8">
      <WireframeGlobePlayground client:load />
    </div>
  </div>
</Layout>
