---
import Layout from "../../layouts/Layout.astro";
import LoaderAnimation from "../../components/LoaderAnimation.astro";
import BackLink from "../../components/BackLink.astro";
import { SITE } from "../../site-config";
---

<LoaderAnimation />

<Layout
  description="Software developer with strong focus on the user experience animations and micro interactions"
  title={`${SITE.author.fullName} - Blog`}
>
  <main
    class="w-screen h-screen flex flex-col justify-start items-start max-w-3xl mx-auto p-8"
  >
    <BackLink href="/" class="mb-8" />
    <h1 class="text-4xl font-bold mb-4 text-neutral-100">Posts</h1>
    <p class="text-darkslate-300 text-sm">
      Nothing to say right now... check back later (or don't, no pressure 🙃)
    </p>
  </main>
</Layout>
