---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import PostRow from "../../components/Blog/PostRow.astro";

const posts = (await getCollection("blog")).sort(
  (blogEntryA, blogEntryB) =>
    blogEntryB.data.pubDate.getTime() - blogEntryA.data.pubDate.getTime()
);
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../../lib/constants";

  const sequence = [loaderAnimation];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="Gianmarco Cavallo - Blog"
  description="Software developer with strong focus on the user experience animations and micro interactions"
>
  <main
    class="w-screen h-screen flex flex-col justify-start items-start max-w-3xl mx-auto p-8"
  >
    <a
      href="/"
      class="text-white bg-neutral-900 hover:bg-neutral-800 px-4 py-2 mb-8 border-1 border-solid border-neutral-600 rounded-lg"
      >Back</a
    >
    <h1 class="text-4xl font-bold mb-4 text-neutral-100">Posts</h1>
    <ul class="w-full">
      {
        posts.map((post) => (
          <PostRow
            title={post.data.title}
            date={post.data.pubDate}
            url={post.slug}
          />
        ))
      }
    </ul>
  </main>
</Layout>
