---
import Button from "../components/Button.astro";
import LayoutList from "../layouts/LayoutList.astro";
import { contentfulClient } from "../lib/contentful";
import { trimText } from "../lib/helpers";

interface Website {
  url: string;
  icon: string;
  title: string;
}

interface Websites {
  contentTypeId: "beautiful-websites";
  fields: {
    websites: Website[];
  };
}

const entries = await contentfulClient.getEntries<Websites>({
  content_type: "beautiful-websites",
});

const websitesData = entries.items[0].fields.websites as Website[];
---

<LayoutList
  title="Gianmarco Cavallo - Beautiful websites"
  description="List of sleek websites"
>
  <main class="p-4 w-full h-full">
    <div
      class="card group overflow-hidden bg-darkslate-500 shadow-lg rounded-lg p-4 border border-darkslate-100 hover:border-primary-500 align-start flex items-center gap-4 justify-start relative w-full transition duration-75 ease-in-out mb-4"
    >
      <a href="/">
        <Button>Back</Button>
      </a>
    </div>
    <div
      class="card group overflow-hidden bg-darkslate-500 shadow-lg rounded-lg p-4 border border-primary-500 align-start flex items-center gap-4 justify-start relative w-full transition duration-75 ease-in-out mb-4"
    >
      <div class="flex flex-col">
        <h1 class="text-gray-50 text-6xl font-extrabold">
          ✨ Beautiful Websites ✨
        </h1>

        <p class="text-gray-50">
          This collection showcases some of my favorite websites from over the
          years. While the content of these sites varies, I've chosen each one
          for its standout UI or UX.
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-4">
      {
        websitesData.map((data) => (
          <a href={data.url}>
            <div class="card group overflow-hidden bg-darkslate-500 shadow-lg rounded-lg p-6 border border-darkslate-100 hover:border-primary-500 align-start flex items-center gap-4 justify-start relative w-full transition duration-75 ease-in-out">
              <img src={data.icon} alt="Favicon" width="16" height="16" />
              <h2 class="text-gray-50 overflow-hidden text-ellipsis w-full">
                {trimText(data.title)}
              </h2>
            </div>
          </a>
        ))
      }
    </div>
  </main>
</LayoutList>
