---
import Layout from "../layouts/Layout.astro";
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../lib/constants";

  timeline([loaderAnimation] as TimelineDefinition);
</script>

<Layout
  title="Gianmarco Cavallo - Design works"
  description="A collection of some of my design works"
>
  <div class="flex flex-col justify-center items-center just p-4 pt-40">
    <a
      href="/"
      class="fixed top-10 left-10 text-white bg-neutral-900 hover:bg-neutral-800 w-fit px-4 py-2 border-1 border-solid border-neutral-600 rounded-lg"
      >Back</a
    >
    <p class="text-white mb-10">
      here you can see some of the illustrations/logos/exploration/graphic stuff
      I did during the years.
    </p>

    <div class="w-fit grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
      <img
        src="/illustrations/mustangs.webp"
        class="w-80 h-80 rounded-md object-cover"
        alt="mustangs illustration"
      />
      <img
        src="/illustrations/sniper.webp"
        class="w-80 h-80 rounded-md object-cover"
        alt="sniper illustration"
      />
      <img
        src="/illustrations/rifle.webp"
        class="w-80 h-80 rounded-md object-cover"
        alt="rifle illustration"
      />
      <img
        src="/illustrations/shield_logo.webp"
        class="w-80 h-80 rounded-md object-cover"
        alt="shield logo illustration"
      />
      <img
        src="/illustrations/roman_shield.webp"
        class="w-80 h-80 rounded-md object-contain border-1 border-solid border-neutral-200"
        alt="roman shield illustration"
      />
      <img
        src="/illustrations/remote_control.webp"
        class="w-80 h-80 rounded-md object-cover"
        alt="remote control illustration"
      />
      <img
        src="/illustrations/prospective.webp"
        class="w-80 h-80 rounded-md object-cover"
        alt="prospective exploration"
      />
      <img
        src="/illustrations/landscape_1.webp"
        class="w-80 h-80 rounded-md object-contain border-1 border-solid border-neutral-200"
        alt="landscape illustration"
      />
      <img
        src="/illustrations/landscape_2.webp"
        class="w-80 h-80 rounded-md object-contain border-1 border-solid border-neutral-200"
        alt="landscape 2 illustration"
      />
      <img
        src="/illustrations/stock_market_down.webp"
        class="w-80 h-80 rounded-md object-cover"
        alt="stock market down illustration"
      />
      <img
        src="/illustrations/stock_market_up.webp"
        class="w-80 h-80 rounded-md object-cover"
        alt="stock market up illustration"
      />
      <img
        src="/illustrations/house.webp"
        class="w-80 h-80 rounded-md object-cover"
        alt="house illustration"
      />
      <img
        src="/illustrations/bone_logo_exploration.webp"
        class="w-80 h-80 rounded-md object-cover"
        alt="bone logo exploration"
      />
    </div>
  </div>
</Layout>
