---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<script>
  import { animate, stagger } from "motion";
  const cards = document.querySelectorAll(".card");

  animate(
  cards,
    { y: ["40%", "0%"], opacity: [0, 1] },
    { duration: 0.4, delay: stagger(0.3) }
  );
</script>

<Layout title="Welcome to Astro.">
  <main
    class="text-white min-h-screen grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2 md:gap-3 lg:gap-4 auto-rows-250 max-w-6xl overflow-hidden p-2 md:p-6 relative w-full"
  >
    <Card
      colSpan="md:col-span-3"
      title="Hi, I am Gianmarco"
      body="Learn how Astro works and explore the official API docs."
    />
    <Card
      colSpan="md:col-span-1"
      title="Integrations"
      body="Supercharge your project with new frameworks and libraries."
    />
    <Card
      title="Themes"
      body="Explore a galaxy of community-built starter themes."
    />
    <Card
      title="Community"
      body="Come say hi to our amazing Discord community. ❤️"
    />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
