---
import Card from "./Card.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <p class="text-sm font-light">
    I'm a software developer specializing in <b>front-end</b> technologies, with
    a strong foundation in both enterprise and open-source software development projects.
    Based in Italy, I now thrive as a freelancer, taking on challenges with tools
    like <b>Solidjs</b>, <b>JavaScript</b>, <b>Node.js</b>, <b>React.js</b>, and
    other cutting-edge web technologies. My passion doesn't stop at what I know:
    I'm committed to leveraging the best technology and methodology for each
    unique problem, ensuring solutions that are both innovative and effective.
  </p>
</Card>
