---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Gianmarco, a front-end software developer from Italy.
      <br>
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li role="link">JavaScript</li>
        <li role="link">React</li>
        <li role="link">Solidjs</li>
        <li role="link">Astro</li>
        <li role="link">svelte</li>
        <li role="link">Nodejs</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about design and 3D modeling and traveling.
      An unusual hobby of mine is collecting vintage passports, they're
      interesting pieces of history to me.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
