---
import { Icon } from "astro-icon";

interface Props {
  title?: string;
  body?: string;
  colSpan?:
    | "md:col-span-1"
    | "md:col-span-2"
    | "md:col-span-3"
    | "md:col-span-4";

  rowSpan?: "md:row-span-1" | "md:row-span-2" | "md:row-span-3";
  href?: string;
}

const { title, body, colSpan, rowSpan, href } = Astro.props;
---

<div
  class={`card group overflow-hidden opacity-0 bg-darkslate-500 shadow-lg rounded-lg p-6 border border-darkslate-100 hover:border-primary-500 align-start flex-none h-full justify-start relative transform perspective-1200 w-full transition duration-75 ease-in-out col-span-1 ${
    colSpan || "md:col-span-2"
  } ${rowSpan || ""}`}
>
  <a href={href} class="h-full w-full">
    {
      href && (
        <Icon
          name="ri:arrow-right-up-line"
          class="h-6 float-right group-hover:text-primary-500 group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform ease-in-out duration-100"
        />
      )
    }

    {title && <h2 class="text-xl font-bold m-0">{title}</h2>}
    {body && <p class="m-0 font-light text-base">{body}</p>}
    <slot />
  </a>
</div>
