---
interface Props {
  title: string;
  body: string;
  colSpan?:
    | "md:col-span-1"
    | "md:col-span-2"
    | "md:col-span-3"
    | "md:col-span-4";
}

const { title, body, colSpan } = Astro.props;
---

<div
  class={`card opacity-0 bg-darkslate-500 shadow-lg rounded-lg p-6 border border-darkslate-100 hover:border-primary-500 align-start flex-none h-full justify-start relative transform perspective-1200 w-full transition duration-75 ease-in-out col-span-1 ${
    colSpan || "md:col-span-2"
  }`}
>
  <h2 class="text-xl font-bold m-0">
    {title}
    <!-- <span>&rarr;</span> -->
  </h2>
  <p class="m-0 font-light text-base">{body}</p>
</div>
