---
import Card from "./Card/index.astro";
---

<Card
  colSpan="lg:col-span-1"
  rowSpan="md:row-span-1"
  title="Design Works"
  href="/design-works"
>
  <div
    class="absolute inset-0 z-[-1] opacity-20 flex flex-wrap gap-2 rotate-40"
  >
    <img
      src="/illustrations/mustangs.png"
      class="w-10 h-10 rounded-md object-cover"
      alt="mustangs illustration"
      loading="lazy"
      decoding="auto"
    />
    <img
      src="/illustrations/sniper.png"
      class="w-10 h-10 rounded-md object-cover"
      alt="sniper illustration"
      loading="lazy"
      decoding="auto"
    />
    <img
      src="/illustrations/rifle.png"
      class="w-10 h-10 rounded-md object-cover"
      alt="rifle illustration"
      loading="lazy"
      decoding="auto"
    />
    <img
      src="/illustrations/shield_logo.png"
      class="w-10 h-10 rounded-md object-cover"
      alt="shield logo illustration"
      loading="lazy"
      decoding="auto"
    />
    <img
      src="/illustrations/roman_shield.png"
      class="w-10 h-10 rounded-md object-cover"
      alt="roman shield illustration"
      loading="lazy"
      decoding="auto"
    />
    <img
      src="/illustrations/remote_control.png"
      class="w-10 h-10 rounded-md object-cover"
      alt="remote control illustration"
      loading="lazy"
      decoding="auto"
    />
    <img
      src="/illustrations/prospective.png"
      class="w-10 h-10 rounded-md object-cover"
      alt="prospective illustration"
      loading="lazy"
      decoding="auto"
    />
    <img
      src="/illustrations/landscape_1.png"
      class="w-10 h-10 rounded-md object-cover"
      alt="landscape 1 illustration"
      loading="lazy"
      decoding="auto"
    />
    <img
      src="/illustrations/landscape_2.png"
      class="w-10 h-10 rounded-md object-cover"
      alt="landscape 2 illustration"
      loading="lazy"
      decoding="auto"
    />
    <img
      src="/illustrations/stock_market_down.png"
      class="w-10 h-10 rounded-md object-cover"
      alt="stock market down illustration"
      loading="lazy"
      decoding="auto"
    />
    <img
      src="/illustrations/stock_market_up.png"
      class="w-10 h-10 rounded-md object-cover"
      alt="stock market up illustration"
      loading="lazy"
      decoding="auto"
    />
    <img
      src="/illustrations/house.png"
      class="w-10 h-10 rounded-md object-cover"
      alt="house illustration"
      loading="lazy"
      decoding="auto"
    />
    <img
      src="/illustrations/bone_logo_exploration.png"
      class="w-10 h-10 rounded-md object-cover"
      alt="bone logo exploration"
      loading="lazy"
      decoding="auto"
    />
  </div>
</Card>
