---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from "astro-icon";
import Tooltip from "./Tooltip/index";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-2">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col h-full">
        <h6 class="text-sm font-light m-0 text-gray-500">welcome</h6>
        <p class="m-0 font-light text-xl">
          Hi, I'm <b class="font-bold">Gianmarco Cavallo</b>, a software
          developer with strong focus on the user experience, animations and
          micro interactions
        </p>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Icon name="ri:github-fill" class="h-6" />
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkeding profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Icon name="ri:linkedin-box-fill" class="h-6" />
          </Button>
        </a>
        <Tooltip client:visible>
          <Button aria-label="easter egg btn">
            <Icon name="ri:emotion-laugh-line" class="h-6" />
          </Button>
        </Tooltip>
      </div>
    </div>
    <img
      src="/me.webp"
      class="w-auto max-h-[300px] select-none absolute right-[-110px] bottom-[-20px] z-[-1] opacity-50 md:opacity-100 md:relative md:right-auto md:bottom-auto md:z-auto pointer-events-none"
      alt="memoji of gianmarco"
    />
  </div>
</Card>