---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" padding="py-3 px-6">
  <div class="flex flex-col justify-between h-full">
    <div class="flex flex-col gap-1">
      <div class="flex justify-between items-center w-full">
        <div class="flex items-baseline gap-2">
          <h2 class="text-white text-lg font-bold">Now</h2>
          <a
            href="https://sive.rs/nowff"
            target="_blank"
            class="text-[10px] text-darkslate-300 hover:text-darkslate-100 transition-colors"
          >
            what's this?
          </a>
        </div>
        <div class="flex items-center gap-1.5">
          <time class="text-[10px] text-darkslate-300" datetime="2026-05-07"
            >May 7, 2026</time
          >
          <Pulse />
        </div>
      </div>
      <p class="text-xs whitespace-nowrap">
        Currently working fulltime at <a
          href="https://groupcards.io/"
          target="_blank"
          class="underline hover:text-darkslate-100 transition-colors"
          >GroupCards</a
        >
      </p>
    </div>
  </div>
</Card>
