---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" padding="p-4">
  <div class="flex justify-between w-full items-start mb-1">
    <div class="flex">
      <h2 class="mr-2">Now</h2>
      <a href="https://sive.rs/nowff" target="_blank">
        <span class="text-xs text-darkslate-300 cursor-pointer text-xs">what's that ?</span>
      </a>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">Currently working fulltime</p>
</Card>
