---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1 flex gap-4" padding="p-4">
  <div class="flex theme-colors flex justify-between items-center w-full">
    <div
      class="w-10 h-10 rounded-full bg-[#e63946] cursor-pointer"
      data-theme="default"
    >
    </div>
    <div
      class="w-10 h-10 rounded-full bg-yellow-500 cursor-pointer"
      data-theme="yellow-theme"
    >
    </div>
    <div
      class="w-10 h-10 rounded-full bg-blue-500 cursor-pointer"
      data-theme="blue-theme"
    >
    </div>
    <div
      class="w-10 h-10 rounded-full bg-purple-500 cursor-pointer"
      data-theme="purple-theme"
    >
    </div>
    <div
      class="w-10 h-10 rounded-full bg-green-500 cursor-pointer"
      data-theme="green-theme"
    >
    </div>
  </div>
</Card>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const themeButtons = document.querySelectorAll(".theme-colors > div");

    themeButtons.forEach((button) => {
      button.addEventListener("click", () => {
        const themeName = button.getAttribute("data-theme");

        const isDefault = themeName === "default";
        document.body.classList.remove(
          "yellow-theme",
          "blue-theme",
          "purple-theme",
          "green-theme"
        );
        
        localStorage.setItem("theme", themeName as string)
        if (!themeName || isDefault) return;
        document.body.classList.add(themeName);

      });
    });
  });
</script>
