---
import { getCurrentTimeInItaly, formatTimeForItaly } from "../lib/helpers";
import Card from "./Card/index.astro";
---

<script>
  import { onCleanup, onMount } from "solid-js";
  import { formatTimeForItaly } from "../lib/helpers";

  let interval: ReturnType<typeof setInterval>;

  function updateClock() {
    const timeDisplay = document.getElementById("timeDisplay");
    const now = new Date();

    if (timeDisplay) {
      timeDisplay.textContent = formatTimeForItaly(now);
      timeDisplay.setAttribute("datetime", now.toISOString());
    }
  }

  onMount(() => {
    interval = setInterval(updateClock, 60_000);
  });

  onCleanup(() => {
    clearInterval(interval);
  });
</script>

<Card colSpan="lg:col-span-2" rowSpan="md:row-span-2" title="Time zone">
  <div class="flex text-3xl lg:text-5xl items-center h-[calc(100%-28px)] font-serif">
    <time
      datetime=""
      id="timeDisplay"
      class="xl:whitespace-nowrap flex items-center"
    >
      {formatTimeForItaly(getCurrentTimeInItaly())}
    </time>, Italy
  </div>
</Card>
