---
import { getCurrentTimeInItaly, formatTimeForItaly } from "../lib/helpers";
import Card from "./Card/index.astro";
---

<script>
  import { onCleanup, onMount } from "solid-js";
  import { formatTimeForItaly } from "../lib/helpers";

  let interval: ReturnType<typeof setInterval>;

  function updateClock() {
    const timeDisplay = document.getElementById("timeDisplay");
    const now = new Date();

    if (timeDisplay) {
      timeDisplay.textContent = formatTimeForItaly(now);
      timeDisplay.setAttribute("datetime", now.toISOString());
    }
  }

  onMount(() => {
    interval = setInterval(updateClock, 60_000);
  });

  onCleanup(() => {
    clearInterval(interval);
  });
</script>

<Card colSpan="lg:col-span-1" rowSpan="md:row-span-1">
  <div
    class="flex text-2xl items-center justify-center h-full font-serif"
  >
    <time
      datetime=""
      id="timeDisplay"
      class="whitespace-nowrap flex items-center"
    >
      {formatTimeForItaly(getCurrentTimeInItaly())}
    </time>
  </div>
</Card>
