---
import BasicLayout from "./BasicLayout.astro";

interface Props {
  title: string;
  description: string;
  page?: "travel";
  fullScreen?: string;
}

const { title, description } = Astro.props;
---

<BasicLayout title={title} description={description}>
  <div
    slot="loader"
    class="loader bg-darkslate-700 text-neutral-50 text-3xl font-black uppercase flex justify-center items-center w-screen h-screen z-50 fixed top-0 bottom-0 right-0 left-0"
  >
  </div>
  <slot />
</BasicLayout>
